@import url(reset.css);

/* 
    Fuentes a utilizar en el proyecto
    handlee y montserrat 400, 700
    ffont-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    box-sizing: border-box;
}

/* variables */
:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris: #aaa;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

.row{
    display: flex;
}

/* header */

header .nav_top{
    background-color: var(--color-secundario);
    padding: 20px 10px;
}

header .nav_top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}

header .nav_top a span{
    display: none;
}

header .nav_top a i{
    color: var(--color-principal);
}

header .nav_top .row{
    justify-content: space-between;
}

header nav{
    padding: 20px 10px;
}

header .hamburguesa{
    width: 50px;
    cursor: pointer;
}

header .hamburguesa div{
    border-top: 2px solid var(--gris);
    margin: 10px;
}

header nav .row{
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul{
    width: 100%;
}

header nav .logo{
    max-width: 110px;
}

header nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid var(--gris);
}

header nav ul li a:hover{
    color: var(--color-principal);
}

header nav ul li .activo{
    color: var(--color-principal);
}

@media(min-width: 48em){
    header .nav_top a span{
        display: inline;
    }
}

@media(min-width: 62.750em){
    header .hamburguesa{
        display: none; /* hace desaparecer la hamburguesas en esta media query */                
    }

    header nav ul{
        width: auto;
    }

    header nav ul li{
        display: inline-block;
    }

    header nav ul li a{
        padding: 5px 20px;
        border-bottom: 0px;
    }
}

/* fin header */


/* footer */

footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-top: 20px;
    bottom: 0px;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: none;
}

@media(min-width: 48em){
    footer{
        text-align: left;
    }
}

/* fin footer */

/* inicio hero */

.hero{
    background-image: url(../images/fondo.jpg);
    background-color: #999;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 15% 10px;
}

.hero h1{
    font-family: var(--fuenteSecundaria);
    color: white;
    font-size: 2.5em;
}

.hero h2{
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0;
}

.hero p{
    color: white;
    font-size: 1.10em;
}

.boton{
    display: inline-block;
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
}

.boton:hover{
    background-color: transparent;
    color: var(--color-principal);

}

.boton i{
    transition: 0.5s;
}

.boton:hover i{
    transform: translateX(5px);
}

.hero ul li{
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.hero ul li a{
    color: white;
}


/* fin hero */

/* Inicio main section our services */

main section{
    padding: 2.125em 0.825em;
}

main section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}

main section h2 span{
    color: var(--color-principal);
}

main section .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}

main section .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--color-principal);
}

main #ourservice .row{
    flex-wrap: wrap;
}

main #ourservice article{
    border-bottom: 1px solid var(--gris);
    padding: 1.825em 0;
}

main #ourservice article div i{
    color: var(--color-principal);
    font-size: 2em;
    border: 2px solid var(--color-principal);
    padding: 0.8rem;
}

main #ourservice article .fa-truck{
    transform: rotateY(180deg);
}

main #ourservice article h3{
    margin: 1em 0;
    font-weight: 700;
}

.enlace{
    text-decoration: none;
    color: var(--color-principal);
    margin-top: 1em;
    display: block;
}

@media(min-width: 48em){
    main #ourservice article{
        width: 50%;
        border-bottom: 0px;
        border-left: 1px solid var(--gris);
        padding: 1.825em 1.825em;
        margin-bottom: 1em;
    }

    main #ourservice article:last-child{
        width: 100%;
    }
}

@media(min-width:62.750em){
    main #ourservice article, main #ourservice article:last-child{
        width: 33.333%;
    }
}

/* Fin main section our services */

/* Inicio main section About Us */

main #aboutus{
    padding-bottom: 100px;
}

main #aboutus .row{
    flex-wrap: wrap;
}

main #aboutus h3{
    font-weight: 700;
}

main #aboutus h4{
    margin: 1em 0;
    color: var(--color-principal);
}

main #aboutus .marco{
    margin: 15px 0;
    border: 3px solid var(--color-principal);
    transform: rotateZ(10deg);
    width: 90%;
    transition: 1s;
}

main #aboutus .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;
}

main #aboutus .columna:hover .marco, main #aboutus .columna:hover .marco img{
    transform: rotateZ(0deg);
}

@media(min-width: 48.000em){

    main #aboutus .marco{
        margin: 0px 15px;
    }

    main #aboutus .columna:first-child{
        width: 40%;
    }

    main #aboutus .columna:last-child{
        width: 60%;
    }
}

/* Fin main section About us */

/* Inicio main menu */

#carta{
    background-color: var(--color-secundario);
    width: 100%;
}

main div {
    flex-wrap: wrap;
    padding: 1em 0.825em;;
}

main div h2{
    color: white;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
    width: 100%;

}

main div h2 span{
    color: var(--color-principal);
}

main div .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}

main div .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--color-principal);}

main .container .row aside{
    width: 30%;
    flex-wrap: wrap;
}

main .container .row #menu{
    width: 60%;
    flex-wrap: wrap;
}

main aside nav{
    width: 100%;
}

main aside nav ul{
    width: 100%;
}

main aside nav ul li{
    margin: 1em;
    width: 100%;
}

main aside nav ul li:hover{
    border-radius: 20%;
}

main aside nav ul li a{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    width: 100%;
    display: block;
    
}

main aside nav ul li a:hover{
    background-color: var(--color-principal);
    width: 80%;
}

main aside h3{
    color: white;
    margin-top: 4em;
    padding: 0.5em 0;
    font-weight: 700;
}

main aside .underline{
    border-color: var(--color-principal);
    position: absolute;
}

main aside p{
    color: white;
    padding: 0.5em 0;
    font-weight: 400;
}


main #menu article h3{
    color: white;
    font-weight: 700;
}

main #menu article p{
    color: white;
    font-weight: 400;
}

main #menu article div{
    color: var(--color-principal);
}



@media(min-width: 62.750em){
    main aside{
        width: 30%;
        float: left;
    }

    main #menu{
        width: 60%;
        float: left;
    }

    main #menu article img{
        width: 30%;
        float: left;
        margin: 0 1em 0 0;
    }
}


/* Fin main menu */

/* Inicio blog */

main #blog div h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}

main #blog div h2 span{
    color: var(--color-principal);
}

main #blog .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}

main #blog .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--color-principal);
}

main #blog{
    width: 100%;
}

main #blog .row{
    flex-wrap: wrap;
}

main #blog article{
    width: 45%;
    margin: 0 auto;
    padding: 1.825em 0;
    float: left;
}

main #blog article h3{
    font-weight: bold;
    padding: 1em;
}

main #blog article .posted{
    color: var(--color-principal);
    font-weight: 700;
    padding: 1em;
}

main #blog article p{
    font-weight: 400;
    padding: 1em;
}

main #blog article div{
    color: var(--color-principal);
}

main #blog article .enlace{
    padding: 1em;
}

main #blog article #fecha1{
    position: absolute;
    top: 523px;
    left: 223px;
    background-color: var(--color-principal);
    color: white;
    font-weight: bold;
    max-width: 14%;
    padding: 20px 15px;
    text-align: center;
    opacity: 0.8;
}

main #blog article #fecha2{
    position: absolute;
    top: 1004px;
    left: 50px;
    background-color: var(--color-principal);
    color: white;
    font-weight: bold;
    max-width: 14%;
    padding: 20px 15px;
    text-align: center;
    opacity: 0.8;
}

main #blog article #fecha3{
    position: absolute;
    top: 1004px;
    left: 248px;
    background-color: var(--color-principal);
    color: white;
    font-weight: bold;
    max-width: 14%;
    padding: 20px 15px;
    text-align: center;
    opacity: 0.8;
}

@media(min-width: 62.750em){
    main #blog article{
        width: 30%;
    }

    main #blog article #fecha1{
        top: 241px;
        left: 527px;
    }
    main #blog article #fecha2{
        top: 241px;
        left: 856px;
    }

    main #blog article #fecha3{
        top: 241px;
        left: 1185px;
    }
}

/* Fin blog */